.gallery{
  margin-top: 20px;
  margin-bottom: 5%;
  line-height: 0;  
  column-count: 3;    
  column-gap: 0px;    
  display:inline-block;    
}

.gallery > img {
  width: 100%;    
  height: auto;  
}

#youtube-video {
  width: 100%;
  aspect-ratio: 16 / 10;
}

@media (max-width: 1000px) {
  .gallery {
    column-count: 3;
  }
 }  
@media (max-width: 800px) {
  .gallery {
    column-count: 2;
  }
 }  
@media (max-width: 500px) {
  .gallery {
    column-count: 1;
  }
 }
