a.active {
  color:rgb(252, 252, 167);
  text-shadow: lightblue 1px 1px 10px;
  text-decoration: underline;
  text-decoration-color: rgb(252, 252, 167);
}

a {
  text-decoration: none;
}

.header-container{
  height: 5%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.page-title {
  margin:0;
  font-size: 40px;
  text-shadow: rgb(252, 252, 167)1px 1px 10px;
  color:lightblue;
  padding: 20px 30px;
}

.small-screen-title{
  display: none;
  margin: 0;
  font-size: 40px;
  text-shadow: rgb(252, 252, 167) 1px 1px 10px;
  color:lightblue;
  padding: 20px 30px;
}

.button {
  margin: 20px 30px;
  padding: 0 10px;
  color: lightblue;
  text-shadow: rgb(252, 252, 167) 1px 1px 10px;
  text-decoration: underline;
  text-decoration-color: lightblue;
}

@media (max-width: 1470px) {
  .page-title{
    display: none;
  }
  .small-screen-title{
    display: block;
  }
}