.loader {
  min-height: var(--height);
  margin-top: 50px;
  text-align: center;
}

.no-img {
  text-align: center;
  padding: 10% 30px;
  font-size: 30px;
  color: #009AF7;
  text-shadow: 1px 1px 10px red;
}