.container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 5% 0;
}

.youtube-video {
  aspect-ratio: 16 / 10;
  padding: 20px;
  width: "80%";
}

.universe-img {
  max-width: 100%;
  max-height: 100vh;
  padding: 20px;
}

.description {
  padding: 0 30px;
  width: 50%;
}

.date-picker {
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
  border-color: lightblue;
  background-color: rgb(37, 37, 37);
  font-family: "Space Mono", monospace; 
  font-weight: bold;
  color:lightblue;
}

@media (max-width: 1470px){
  .container{
    flex-direction: column;
  }
  .description {
    width: 90%;
    padding: 0;
  }
  .youtube-video {
    width: 100%;
  }
  .universe-img{
    padding: 0;
    margin: 0;
  }
  .img-title {
    text-align: center;
  }
  .date-picker {
    display: block;
   margin-left: auto;
   margin-right: auto;
  }
}

::-webkit-inner-spin-button { display: none; }