:root {
  --font-color: lightblue;
  --second-font-color: rgb(252, 252, 167);
  --font-family: "Space Mono", monospace;
  --text-shadow: rgb(252, 252, 167) 1px 1px 10px;
  --header-font-size: 40px;
  --padding: 20px;
  --height: 100vh;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(17, 17, 17);
  color: var(--font-color);
  font-family: var(--font-family);
}